@font-face {
    font-family: 'Bebas Neue';
    src: url('../font/BebasNeue-Regular.woff2') format('woff2'),
        url('../font/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




* {
    box-sizing: border-box;
}

label {
    cursor: pointer;
}

body {
    font-size: 14px;
    background-color: #fff;
    font-family: sans-serif;
}

select {
    border-color: #0580F2;
    width: 50px;
}

.container  {
    max-width: 1140px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wrapper-container {
    background: #F3F3F3;
    border: 8px solid #C4C4C4;
    height: 532px;
 
    
}

.wrapper-block {
    display: flex;
    align-items: center;
    margin-top: 10px;   
    padding-bottom: 20px;
}


.wrapper-license {
    position: relative;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 10px;

}

.wrapper-license::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 1px;
    display: block;
    border-bottom: 1px solid #c4c4c4;
    bottom: 10px;
    left: 50px;
}

.checkbox-text {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 24px;
    margin-right: 80px;;
    color: #635D5D;
    
}

.checkbox-price {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #717070;
    padding-left: 40px;
}

.checkbox {
    display: none;
}

.label {
    display: flex;
    align-items: center;
}

.other {
    background: #FFFFFF;
    border: 3px solid #C4C4C4;
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    margin-right: 20px;
    
}

.other::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: block;
    width: 10px;
    height: 10px;
    background-color:  #0580F2;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 0;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.checkbox:checked + .other::before {
    opacity: 1;

}

.checkbox:checked + .other {
    border-color: #064683;
}


.number {
    padding-top: 20px;
    text-align: center;
    position: relative;
    padding-bottom: 50px;
}

.number::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 1px;
    display: block;
    border-bottom: 1px solid #c4c4c4;
    bottom: 10px;
    left: 50px;
}


.number-text {
font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
color: #111111;
margin-right: 20px;
display: inline-block;
}

.total {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}

.total-text {
    font-family: Bebas Neue;

    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #635D5D;
    margin-bottom: 15px;
}

.total-price {
    font-family: Bebas Neue;

    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #0580F2;

}

.total-btn {
    background: #0580F2;
    border-radius: 40px;
    padding: 12px 41px;
    cursor: pointer;
    margin-bottom: 27px;
}

.total-btn a {
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-decoration: none;

    color: #FFFFFF;
}

.total-select {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */


    color: #0580F2;
}

sup {
    font-family: Bebas Neue;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #0580F2;

}